.clearfix {
    clear: both;
}
img {
    float: right;
    opacity: 1;
    width: 15%;
    outline: 2px solid green;
}
.first-p {
    border: 2px solid red;
    height: 150px;
    overflow: hidden;
}
.second-p {
    background-color: orange;
}
.third-p {
    background-color: peru;
}
