/* 
1. Inline vs Block
2. Box Model
3. Border
4. Padding
5. Margin
6. Box Sizing
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-one {
    background: orange;
    color: #fff;
    width: 250px;
    height: 250px;
    padding: 20px;
    border: 10px dashed black;
    margin-bottom: 50px;
}
.box-two {
    background: rgb(100, 73, 21);
    color: #fff;
    width: 250px;
    height: 250px;
    margin-top: 60px;
}

a {
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    background: brown;
}
